body{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    margin: 0;
    
    max-width: 100%;
    background-color: #B2B2B2;
    text-align: center;
}

.centralização{
    padding: 30px;
    text-align: center;
}

img{
    height: 60px;
    width: 60px;
}

