body{
    width: 100%;
    height: 100%;
    margin: 0;

}
.main_pag{

    color: #9DADBD;
    background-color: #F4F5F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.logo{
   
    width: 100px;
    height: 100px;
}
input[type="email"],input[type="password"],button[type="submit"]{

  border-radius: 3px;
  margin: 10px;
  border: 1px solid #9DADBD; 
  padding: 10px;
  width: 250px;
  
}
button[type="submit"]{

    background-color: #5a86b3;
}
.card-login{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;

}
.rodape-main li{
    
    
    margin: 10px;
    display: inline-block;
}
.page-two {
    color: #9DADBD;
    background-color: #ffffff;
}
.container {
    display:flex;
    flex-direction: column;

}

#cardinform{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#cardinform .card .imag{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 75px;
    top: 10px;
    background: black;
    box-shadow: ;
}
#cardinform .card{
    background:#9DADBD ;
    padding: 15px;
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}
.a{
    object-fit: cover;
    border-radius: 10%;
    height: 100px;
    width: 100px;

}
.card.imag img{
 
    height: 100%;
    width: 100%;
}

.corpo{
    width: 900px;
    margin: auto;
    
}

.pag_3 {
    display:table;
}

.texto{

    display:table-cell;
    float:left;
    width: 300px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 60px;
}
.imagem{

    display: table-cell;
    float:right;
}

.parte2{
    width: 900px;
    margin: auto;
    
}

.pag_4 {
    display:table;

}

.lista{

    display:table-cell;
    float:right;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 60px;
}
.video{

    display: table-cell;
    float:left;
}
.pag_6{
align-items:center;
text-align: center;
}

.main_pag{

color: #9DADBD;
background-color: #F4F5F9;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;

}
.logo{

width: 100px;
height: 100px;
}
input[type="email"],input[type="password"],button[type="submit"]{

border-radius: 3px;
margin: 10px;
border: 1px solid #9DADBD; 
padding: 10px;
width: 250px;

}
button[type="submit"]{

background-color: #5a86b3;
}
